{% extends 'layout.html' %}
{% block sitemap %} > Cart > list
{% endblock %}
{% block content %}
<style>
    div.card-body td {
        vertical-align: middle;
    }
</style>
<div class="container" style="margin-top: 20px;">
    <div id="checkout-list" tabindex="-1" role="dialog" aria-labelledby="cart-add" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Checkout</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="modal-checkout">
                    <!-- this fields load with ajax -->
                </div>
                <div class="modal-footer" style="display:inline-block;">
                    <button type="button" class="btn btn-primary" style="float:right;" id="btn_buy" data-toggle="modal" data-target="#checkout-confirm-address">Buy <i class="fa fa-money-bill-alt"> </i></button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary" style="float:right;margin-right:20px;" id="btn_cancel_buy">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="checkout-confirm-address" tabindex="-1" role="dialog" aria-labelledby="checkout-confirm-address" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Confirm Address</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="modal-checkout-confirm">
                    <!-- this fields load with ajax -->
                </div>
                <div class="modal-footer" style="display:inline-block;">
                    <button type="button" class="btn btn-primary" style="float:right;" id="btn_ok_confirm_address">OK </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary" style="float:right;margin-right:20px;" id="btn_cancel_confirm_address">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% if cart %}
    {% for i in cart %}
    <div class="card" data-idapp="{{i.idapp}}" id="container-ticket">
        <div class="card-close">
            <a href="#" style="color:#ffc107;margin-right:20px;" id="edit_cart"> <i class="fa fa-pencil"> </i> Edit</a>
            <a href="#" id="remove_cart"> <i class="fa fa-times"> </i> Remove</a>
        </div>
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Green Day in {{i.location}}</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th>Quantity</th>
                            <th>Price/Unit</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">Green Day in {{i.location}}</a>
                                <p>{{i.sub_location}}</p>
                                <p>At {{i.ticket_date|date:"d F Y H:m"}}</p>
                                <p>{{i.descriptions}}</p>

                            </td>
                            <td><p id="quantity">{{i.quantity}}</p><input type="number" class="form-control" value="{{i.quantity}}" style="width:100px;display:none;" id="quantity_input" data-value="{{i.quantity}}" /></td>
                            <td><p id="price">{{i.price}}</p></td>
                            <td><p id="total_price">{{i.total_price}}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" style="float:right;display:none;" id="btn_ok_edit">OK</button>
        <button type="button" class="btn btn-secondary" style="float:right;margin-right:25px;display:none;" id="btn_cancel_edit">Cancel</button>
        </div>
        
    </div>
    {% endfor %}
    <div class="card" style="display:inline-block;float:right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkout-list" id="checkout">Checkout</button>
    </div>
    <div class="card" style="display:inline-block;float:left;">
        <button type="button" class="btn btn-secondary">Continue shopping</button>
    </div>
    {% else %}
    <div class="container">
        <i class="fa fa-shopping-cart" style="font-size:150px"></i>
        <h1>There's No Ticket in your Cart</h1>
    </div>
    {% endif %}
</div>
<script>
    $(document).ready(function () {
        function getCheckedBoxes(Class) {
            var checkboxes = document.querySelectorAll(Class);
            var idapp_ticket = [];
            var idapp_cart = [];
            var quantity = []
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    idapp_cart.push(checkboxes[i].dataset.idappcart);
                    idapp_ticket.push(checkboxes[i].dataset.idappticket);
                    quantity.push(checkboxes[i].dataset.quantity);
                }
            }
            return {
                'idapp_cart':String(idapp_cart),
                'idapp_ticket': String(idapp_ticket),
                'quantity': String(quantity)
            }
        }
        function getRadioValue(selector) {
            var radio = document.querySelectorAll(selector);
            var idapp = [];
            for (var i = 0; i < radio.length; i++) {
                if (radio[i].checked) {
                    idapp.push(radio[i].dataset.idapp);
                }
            };
            return {
                'idapp':String(idapp)
            }
        }

        $('a#edit_cart').click(function (event) {
            event.preventDefault();
            var card_close = $(this).parent()
            var card_body = card_close.next().next()
            var p_quantity = card_body.find('p#quantity');
            var input_quantity = card_body.find('input#quantity_input')
            p_quantity.css('display', 'none');
            input_quantity.css('display', 'block');
            card_body.find('button#btn_ok_edit,button#btn_cancel_edit').css('display', 'block');
        });

        $('a#remove_cart').click(function (event) {
            event.preventDefault();
            var container_ticket = $(this).parents('#container-ticket')
            var idapp = container_ticket[0].dataset.idapp
            $.ajax({
                url: '/cart/remove/',
                method: 'POST',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', GD.get_csrf())
                },
                data: {
                    'idapp':idapp
                },
                success: function (data) {
                    if (data['message'] == 'success') {
                        container_ticket.fadeOut();
                        container_ticket.remove();
                    }
                    
                }
            });
        });

        $('button#btn_ok_edit').click(function () {
            var card_body = $(this).parent()
            var el_qty_input = card_body.find('input#quantity_input');
            var el_qty_p = card_body.find('p#quantity');
            if (el_qty_input.val() == el_qty_input[0].dataset.value) {
                return card_body.find('button#btn_cancel_edit').click();
            } else {
                var el_price = card_body.find('p#price');
                var el_total_price = card_body.find('p#total_price');
                var btn_ok = $(this)
                var btn_cancel = card_body.find('button#btn_cancel_edit')
                $.ajax({
                    url: '/cart/edit/',
                    method: 'POST',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', GD.get_csrf())
                    },
                    data: {
                        'idapp':card_body.parent()[0].dataset.idapp,
                        'quantity': el_qty_input.val()
                    },
                    success: function (data) {
                        if (data['message'] == 'success') {
                            el_qty_input.css('display', 'none');
                            el_qty_input.val(data['quantity']);
                            el_qty_input[0].dataset.value = data['quantity'];
                            el_qty_p.text(data['quantity']);
                            el_qty_p.css('display', 'block');
                            el_price.text(data['price']);
                            el_total_price.text(data['total_price']);
                            btn_ok.css('display', 'none');
                            btn_cancel.css('display', 'none');
                        }
                    }
                });
            }
            
        });

        $('button#btn_cancel_edit').click(function () {
            var card_body = $(this).parent()
            var el_qty_input = card_body.find('input#quantity_input');
            var el_qty_p = card_body.find('p#quantity');
            var ori_qty = el_qty_input[0].dataset.value;
            el_qty_input.val(ori_qty);
            el_qty_input.css('display', 'none');
            el_qty_p.css('display', 'block');
            $(this).css('display', 'none');
            card_body.find('button#btn_ok_edit').css('display', 'none');
        });


        $('button#checkout').click(function () {
            $.ajax({
                url: '/checkout/list/',
                success: function (data) {
                    $('div#modal-checkout').html(data);
                    $('input.checkbox-template').click(function () {
                        var total_purchase = parseInt($('p#total_purchase')[0].textContent)
                        if (this.checked) {
                            total_purchase += parseInt(this.dataset.value)
                            document.getElementById('total_idapp').value += this.dataset.idapp;
                        } else {
                            total_purchase -= parseInt(this.dataset.value);
                            document.getElementById('total_idapp').value -= this.dataset.idapp;
                        }
                        $('p#total_purchase')[0].textContent = total_purchase.toFixed(2);
                    });
                }
            });
        });
        $('#btn_buy').click(function (event) {
            event.preventDefault();
            if (getCheckedBoxes('#checkbox-ticket')['idapp'] !== "") {
                $.ajax({
                    url: '/checkout/confirm/',
                    success: function (data) {
                        var modal_body = $('#modal-checkout-confirm')
                        modal_body.html(data);
                        if ($('button#btn_ok_confirm_address').css('display') == "none") {
                            $('#btn_ok_confirm_address,#btn_cancel_confirm_address').css('display', 'block');
                            if ($('#btn_go_to_event_list').length > 0) {
                                $('#btn_go_to_event_list,#btn_buy_other').remove();
                            }
                        }
                    }
                });
            } else {
                if ($('p#select_ticket').length == 0) {
                    $('div#modal-checkout').append('<p style="color:red" id="select_ticket">Please select a ticket to buy!!</p>')
                }
                return false;
            }

        });
        $('button#btn_ok_confirm_address').click(function () {
            var data = GD.check_RadioChecked('input[name="radio-address"]');
            if (data) {
                $.ajax({
                    url: '/checkout/confirm/',
                    method: 'POST',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader('X-CSRFToken', GD.get_csrf())
                    },
                    data: GD.AssignObject(getCheckedBoxes('#checkbox-ticket'), getRadioValue('input#info-address')),
                    success: function (data) {
                        if (data['message'] == 'success') {
                            var dialog_confirm = $('#modal-checkout-confirm')
                            dialog_confirm.html('<h3> Thanks to order ..</h3>');
                            dialog_confirm.next().find('#btn_ok_confirm_address,#btn_cancel_confirm_address').css('display', 'none')
                            if (typeof data['idapp'] == "object") {
                                for (var i = 0; i < data['idapp'].length; i++) {
                                    $('input#checkbox-ticket[data-idappcart="' + data['idapp'][i] + '"]').parent().remove()
                                    $('div#container-ticket[data-idapp="' + data['idapp'][i] + '"]').remove();
                                }
                            } else {
                                $('input#checkbox-ticket[data-idappcart="' + data['idapp'] + '"]').parent().remove();
                                $('div#container-ticket[data-idapp="' + data['idapp'] + '"]').remove();
                            }
                            $('p#total_purchase').text('0')
                            var el = '<a class="btn btn-secondary" style="float:left;" id="btn_go_to_event_list" href="/event/list/">Go to Event list</a>'
                            if ($('input#checkbox-ticket').length > 0) {
                                el += '<button type="button" data-dismiss="modal" class="btn btn-primary" style="float:right;" id="btn_buy_other">Buy Other</button>'
                            } else {
                                $('div#checkout-list, div.modal-backdrop').remove();
                                $('button#checkout').parent().next().remove();
                                $('button#checkout').parent().remove();
                                $('div.container').html('<i class="fa fa-shopping-cart" style="font-size:150px"></i><h1>There\'s No Ticket in your Cart</h1>')
                            }
                            dialog_confirm.next().append(el);

                        }
                    }
                });
            } else {
                if ($('p#select_address').length == 0) {
                    $('div#modal-checkout-confirm').append('<p style="color:red" id="select_address">Please select your address!!</p>')
                }
            }


        });
    });
</script>
{% endblock %}