{% extends 'layout.html' %}
{% block sitemap %} > Event > list
{% endblock %}
{% block content %}
{% load static %}
<style>
    div.row.bg-white ul li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }
    div.row.bg-white ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .stock-ticket {
        width:31%;
        display:inline-block;
    }
    .container-stock-ticket {
        margin:0;
    }
</style>
    <div class="container">
        {% for i in event %}
        <div class="recent-activities card">
            <div class="card-body no-padding">
                <div class="item">
                    <div class="row">
                        <div class="col-2 date-holder text-right">
                            <time datetime="2014-07-20 2000">
				                <span class="day">{{ i.ticket_date|date:"d" }}</span>
				                <span class="month">{{ i.ticket_date|date:"N" }}</span>
				                <span class="year">{{ i.ticket_date|date:"Y" }}</span>
				                <span class="time">8:00 PM</span>
			                </time>
                        </div>
                        <div class="col-10 content">
                            <h5 style="display:inline-block">Green Day at {{i.location}} , {{i.sub_location}}</h5>
                            <div style="float:right">
                                <a href="#">Add to Cart <i class="fa fa-shopping-cart"></i></a>
                            </div>
                            <p style="width:80%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            <div>
                                <ul class="container-stock-ticket">
					                <li class="stock-ticket">1</li>
					                <li class="stock-ticket">3 </li>
					                <li class="stock-ticket">103 </li>
				                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}