{% extends 'layout.html' %}
{% block sitemap %} > Event > list
{% endblock %}
{% block content %}
{% load static %}
<style>
    div.row.bg-white ul li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }
    div.row.bg-white ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    
</style>
    <div class="container" style="margin-top: 20px;">
        {% for i in event %}
        <div class="recent-activities card">
            <div class="card-body no-padding">
                <div class="item">
                    <div class="row">
                        <div class="col-2 date-holder text-right">
                            <time datetime="2014-07-20 2000">
				                <span class="day">{{ i.ticket_date|date:"d" }}</span>
				                <span class="month">{{ i.ticket_date|date:"N" }}</span>
				                <span class="year">{{ i.ticket_date|date:"Y" }}</span>
				                <span class="time">8:00 PM</span>
			                </time>
                        </div>
                        <div class="col-10 content">
                            <h5 style="display:inline-block;float:left;">Green Day in {{i.location}}</h5>
                            <div style="float:right" data-parent="{{i.idapp}}">
                                {% if i.is_add %}
                                <p id="added" data-idapp="{{i.idapp}}">In Cart<i class="fa fa-check"></i></p>
                                {% else %}
                                <a href="#" id="add_to_cart" data-idapp="{{i.idapp}}" data-toggle="modal" data-target="#cart-add">Add to Cart <i class="fa fa-shopping-cart"></i></a>
                                {% endif %}
                                <p style="font-size:15px;margin-bottom:4px;text-align:right;">Available : {{i.available_ticket}}</p>
                                
                            </div>
                            <p style="font-size:14px;display:inline;float:left;clear:left;">{{ i.ticket_date|date:"H:m" }} - {{i.sub_location}}</p>
                            <p style="font-size:15px;margin-bottom:4px;text-align:right;float:right;clear:right;">Rp.{{i.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="cart-add" tabindex="-1" role="dialog" aria-labelledby="cart-add" aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">Add Ticket</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body" id="modal-transaction">
                <!-- this fields load with ajax -->
            </div>
            <div class="modal-footer" style="display:inline-block;">
                <button type="button" class="btn btn-primary" style="float:right;" id="btn_ok_transaction">OK</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary" style="float:right;margin-right:20px;" id="btn_cancel_transaction">Cancel</button>
            </div>
            </div>
        </div>
    </div>
{% if request.user.is_authenticated %}
<script>
    $(document).ready(function () {
        function dataTransaction() {
            return {
                'mode':'add_address',
                'first_name': $('#id_first_name').val(),
                'last_name': $('#id_last_name').val(),
                'no_telp': $('#id_no_telp').val(),
                'quantity': $('#id_quantity').val(),
                'code_pos': $('#id_code_pos').val(),
                'province': $('#id_province').val(),
                'city': $('#id_city').val(),
                'address': $('#id_address').val(),
                'ticket_idapp': $('#id_ticket_idapp').val()
            }
            
        };

        $('a#add_to_cart').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '/transactions/info/',
                beforeSend: function (xhr,settings) {
                    xhr.setRequestHeader("X-CSRFToken", GD.get_csrf())
                },
                data: {
                    'idapp':this.dataset.idapp
                },
                success: function (data) {
                    $('div#modal-transaction').html(data);
                    
                },
                complete: function (data) {
                    if ($('#btn_to_cart').length > 0) {
                        $('#btn_to_cart, #btn_continue').remove();
                        $('#cart-add').find('.modal-footer').children().css('display', 'block');
                        
                    }
                }
            });
        });

        function add_cart() {
            $.ajax({
                url: '/cart/add/',
                method: 'POST',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", GD.get_csrf())
                },
                data: {
                    'ticket_idapp': $('#id_ticket_idapp').val(),
                    'quantity': $('form#form_transaction').css('display') == 'none' ? $('#id_quantity2').val() : $('#id_quantity').val()
                },
                success: function (data) {
                    if (data['message'] == 'success') {
                        $('a#add_to_cart[data-idapp="' + data['idapp'] + '"]').replaceWith('<p id="added">In Cart <i class="fa fa-check"></i></p>')
                        $('form#form_transaction').remove();
                        $('div#modal-transaction').html('<h3>Ticket added to your cart <i class="fa fa-check"></i></h3>');
                        $('button#btn_ok_transaction,button#btn_cancel_transaction').css('display', 'none');
                        $('div#cart-add').find('.modal-footer').append('<button type="button" data-dismiss="modal" class="btn btn-secondary" style="float:left;" id="btn_continue"><i class="fa fa-angle-left"> </i>  Continue shop</button><a href="/cart/list/" class="btn btn-primary" style="float:right;" id="btn_to_cart" style="color:#fff;">Go to Cart  <i class="fa fa-shopping-cart"> </i></a>');
                    }
                }
            })
        }

        function send_dataTransaction(callback) {
            $.ajax({
                url: '/transactions/info/add/',
                method: 'POST',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", GD.get_csrf())
                },
                data: dataTransaction(),
                success: function (data) {
                    if (data['message'] == 'success') {
                        if (callback) {
                            callback();
                        }
                    }
                }
            });
        }

        $('button#btn_ok_transaction').click(function () {
            var form = $('form#form_transaction');
            if ($('input[name="radio-address"]').length > 0) {
                if ($('input[name="radio-address"]').css('display') !== 'none') {
                    var data = GD.check_RadioChecked('input[name="radio-address"]');
                    if (!data) {
                        if ($('#value_not_null').length > 0) {
                            $('#value_not_null').remove();
                        }
                        if ($('p#select_address').length == 0) {
                            return $('#modal-transaction').append('<p style="color:red" id="select_address">Please select your address!!</p>')
                        }
                    }
                }
                
            }
            
            if (form.css('display') == 'none') {
                
                if (!$('input#id_quantity2')[0].checkValidity()) {
                    $('input#btn_check_valid_qty').click();
                } else if ($('input#id_quantity2').val() == "0") {
                    if ($('p#select_address').length > 0) {
                        $('p#select_address').remove();
                    }
                    if ($('#value_not_null').length == 0) {
                        $('#modal-transaction').append('<p style="color:red" id="value_not_null">Value of ticket quantity cannot be 0 .</p>');
                    }
                }
                else {
                    return add_cart();
                }
                
            } else {
                if (form[0].checkValidity()) {

                    send_dataTransaction(add_cart);

                } else {
                    $('#btn_submit_transaction').click();
                }
            }
            
        });
        
    });
</script>
{% else %}
<script>
    $(document).ready(function () {
        $('a#add_to_cart').click(function (event) {
            event.preventDefault();
            event.stopPropagation();
            $('a#signIn').click();
        });
    });
    
</script>
{% endif %}
{% endblock %}