<form method="post" onsubmit="return false" id="form_transaction">
    {% csrf_token %}
    <div class="form-group col-md-5" style="padding-left:0;display:inline-block;">
        <label>First Name</label>
        {{form.first_name}}
    </div>
    <div class="form-group col-md-6" style="padding-right:0;display:inline-block;">
        <label>Last Name</label>
        {{form.last_name}}
    </div>
    <div class="form-group col-md-5" style="padding-left:0;display:inline-block;">
        <label>Phone Number</label>
        {{form.no_telp}}
    </div>
    <div class="form-group col-md-6" style="padding-right:0;display:inline-block;">
        <label>Quantity</label>
        {{form.quantity}}
    </div>
    <div class="form-group col-md-5" style="padding-left:0;display:inline-block;">
        <label>Code Post</label>
        {{form.code_pos}}
    </div>
    <div class="form-group col-md-6" style="padding-right:0;display:inline-block;">
        <label>Province</label>
        {{form.province}}
    </div>
    <div class="form-group">
        <label>City</label>
        {{form.city}}
    </div>
    <div class="form-group">
        <label>Address</label>
        {{form.address}}
    </div>
    {{form.ticket_idapp}}
    <input type="submit" value="Sign In" class="btn btn-primary" style="display:none" id="btn_submit_transaction">
</form>